.element__like {
  min-width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../../images/element_like.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.element__like:hover {
  opacity: .5;
  transition: opacity .3s;
}
