.popup__submit-button {
  min-width: 358px;
  min-height: 50px;
  margin: 48px auto 37px;
  padding: 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  border: none;
}

.popup__submit-button:hover {
  opacity: .8;
  transition: opacity .3s;
}
