.popup__submit-button {
  min-width: 358px;
  min-height: 50px;
  margin: 48px auto 37px;
  padding: 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  border: none;
}

.popup__submit-button:hover {
  opacity: .8;
  transition: opacity .3s;
}

@media screen and (max-width: 629px){
  .popup__submit-button {
    min-width: 238px;
    min-height: 46px;
    margin: 45px auto 25px;
  }
}
