.element__checkbox-image {
  background-image: url('../../../images/element_like.svg');
  display: block;
  width: 22px;
  height: 19px;
  cursor: pointer;
}

.element__checkbox-image:hover {
  opacity: .5;
  transition: opacity .3s;
}

.element__checkbox:checked + .element__checkbox-image {
  background-image: url('../../../images/element_like_checked.svg');
}

.element__checkbox:checked + .element__checkbox-image:hover {
  opacity: 1;
}
